* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;

}

/* --LIVESERVER-- */
script {
        display: none;
}
/* ////////////// */

:root {

        width: 100%;

        --basePassiveColor: hsl(0, 0%, 15%);
        --lightPassiveColor: hsl(0, 0%, 20%);
        --darkPassiveColor: hsl(0, 0%, 10%);

        --baseActiveColor: hsl(0, 92%, 35%);
        --lightActiveColor: hsl(0, 92%, 45%);
        --darkActiveColor: hsl(0, 92%, 25%);

        --baseAccentColor: hsl(18, 98%, 45%);
        --lightAccentColor: hsl(18, 98%, 50%);
        --darkAccentColor: hsl(18, 98%, 40%);


        --textColor: linen;

        --baseParagraphFontSize: 0.6rem;
        --smallParagraphFontSize: 0.5rem;
        --bigParagraphFontSize: 0.7rem;

        --paragraphFont: "Bree Serif";
        --paragraphFontFamily: serif;

        --TitleFont: "Rubik";
        --TitleFontFamily: sans-serif;

        --baseTitleFontSize: 1.2rem;
        --smallTitleFontSize: 1rem;
        --bigTitleFontSize: 1.5rem;

}

.svg-def {
        display: none;
}




/* 99vw prevents problem with horizontal scrollbars */
/* Extract List of navigation menu buttons from slidebar module as independent module! */
/* width problem!!! */

.page {

        --pageHeaderHeight: 13vh;
        --pageFooterHeight: 18vh;
        --pageSideMargin: 5px;

        width: 100%;
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 1fr var(--footerHeight);

}

.page__main {
        width: calc(100% - calc(var(--pageSideMargin) * 2));
        height: fit-content;

        margin: calc(var(--pageHeaderHeight) + 10px) auto 10px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.page--theme-dark {
        background-color: hsl(0, 0%, 11.5%);
        background-blend-mode: lighten;

        font-family: var(--paragraphFont), var(--paragraphFontFamily);
        color: var(--textColor);
        background-image: url(Ressources/forge.jpg);
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position-x: center;
}




.header--fixed {

        --headerHeight: 13vh;
        --headerCornerBlockWidth: calc(13vh - 15px);
        --headerIconPadding: 1vh;


        width: 100%;
        height: var(--headerHeight);
        position: fixed;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: var(--headerCornerBlockWidth) 1fr var(--headerCornerBlockWidth);
        grid-auto-rows: var(--headerHeight);
        place-items: center;
}

.header__icon {

        height: calc(var(--headerCornerBlockWidth) - var(--headerIconPadding));
        width: calc(var(--headerCornerBlockWidth) - var(--headerIconPadding));
        padding: var(--headerIconPadding);
}


.header__title {

        /* leave some space left to avoid overlap with 99.047vw workaround*/
        text-align: center;

}

.header--theme-dark {
        background-color: var(--basePassiveColor);
        font-family: var(--TitleFont), var(--TitleFontFamily);
        color: var(--lightAccentColor);
        font-size: var(--bigTitleFontSize);
        border-radius: 0 0 10px 10px;
}




.slidebar--extendable-right {

        --slidebarWidth: calc(13vh - 15px);
        --slidebarHeight: calc(13vh - 15px);
        --slidebarIconPadding: 1vh;
        --slidebarListWidth: calc(99vw - calc(var(--slidebarWidth) * 2));

        height: var(--slidebarHeight);
        width: var(--slidebarWidth);
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        place-items: center;
        position: relative;
        background-color: transparent !important;
}

.slidebar__input {
        position: absolute;
        margin: 0; 
        appearance: none;
        z-index: 4;
        height: var(--slidebarHeight);
        width: var(--slidebarWidth);
        cursor: pointer;
        background-color: transparent !important;
}


.slidebar__icon {
        position: absolute;
        height: calc(var(--slidebarWidth) - var(--slidebarIconPadding));
        width: calc(var(--slidebarWidth) - var(--slidebarIconPadding));
        padding: var(--slidebarIconPadding);
        z-index: 3;
        border-radius: 10px;
}

.slidebar__blind {
        position: absolute;
        z-index: 2;
        height: var(--slidebarHeight);
        width: calc(var(--slidebarWidth) + 20px);
        place-self: center start;
        border-radius: 10px 0 0px 10px;
        transition: border-radius 0.2s;
}

.slidebar__input:hover ~ .slidebar__blind, .slidebar__input:hover ~ .slidebar__icon {
        filter: brightness(1.2);
}

.slidebar__input:active ~ .slidebar__blind, .slidebar__input:active ~ .slidebar__icon {
        filter: brightness(0.9);
}

.slidebar__list-container {
        position: absolute;
        z-index: 1;
        height: var(--slidebarHeight);
        width: var(--slidebarListWidth);
        margin-left: var(--slidebarWidth);
        justify-self: start;
        transition: margin 0.35s ease-in;
        padding: 5px 20px 5px 10px;
        border-radius: 10px 0 0 10px;
}

.slidebar__input:checked ~ .slidebar__list-container {
        margin-left: calc(calc(var(--slidebarListWidth) * -1) + 10px); 
        transition: margin 0.35s ease-out;
}


.slidebar__list {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 2px 10px;
}

.slidebar__list-item {

        height: 60%;
        padding: 0 8px;
        text-decoration: none;
        text-align: center;
        display: flex;
        align-items: center;
        border-radius: 10px;
}

.slidebar--theme-dark--interactive {
        background-color: var(--darkPassiveColor);
        font-family: var(--TitleFont), var(--TitleFontFamily);
        color: var(--lightActiveColor);
        font-size: var(--smallTitleFontSize);
        font-weight: 500;     
}

.slidebar--theme-dark--interactive:hover {
        filter: brightness(1.2);
}

.slidebar--theme-dark--interactive:active {
        filter: brightness(0.9);
}


.slidebar--theme-dark {
        background-color: var(--darkPassiveColor);
        font-family: var(--TitleFont), var(--TitleFontFamily);
        color: var(--lightActiveColor);
        font-size: 0.8rem;
        font-weight: 500;
        fill:var(--lightActiveColor);
}




.media--title {

        --mediaItemWidth: 20vw;
        --mediaHeight: 25vw;

        margin-bottom: calc(var(--mediaHeight) / 1.5);
        padding-right: 10px;

        width: 100%;
        display: grid;
        grid-template-columns: var(--mediaItemWidth) 1fr;
        grid-auto-rows: var(--mediaHeight);
        grid-column-gap: calc(var(--mediaItemWidth) / 4);
        align-items: center;
}

.media__mediaItem {
        justify-self: center;
        width: 88%;
        height: 88%;
        padding: 6%;
}

.media__contextBox {
        display: flex;
        flex-direction: column;
}

.media__contextTitle {
        font-size: var(--smallTitleFontSize);
}

.media__contextParagraph {
        font-size: var(--smallParagraphFontSize);
}


.media--theme-dark {
        background-color: var(--darkPassiveColor);
        color: var(--textColor);
        fill: var(--darkAccentColor);
        border-radius: 10px;
}

.media__contextTitle--theme-dark {
        color: var(--darkAccentColor);
}


/* refactor card and content card to push their idea of responsiveness and versatility further */
/* refactor to not be dependent on card Width */

.card--video {
        --cardHeight: 70vh;

        padding: 10px;
        margin-top: calc(var(--cardHeight) / 8);

        width: 100%;
        height: var(--cardHeight);
        display: flex;
        flex-direction: column; 
        place-content: center space-around;
        place-items: center;
}

.card--theme-dark {
        color: var(--textColor);
        background-color: var(--darkPassiveColor);
        border-radius: 10px;
}

.card__title {
        color: var(--darkAccentColor);

        text-align: center;
        font-size: var(--baseTitleFontSize);
}

.card__video {
        margin: 0 10px;
        max-width: 100%;
}

.card__description {
        font-size: var(--smallTitleFontSize)
}




.card--imageButton {
        --cardHeight: 100vh;

        padding: 10px;
        margin-top: calc(var(--cardHeight) / 8);
        place-items: center;

        width: 100%;
        height: var(--cardHeight);
        display: flex;
        flex-direction: column; 
        place-content: center space-around;
}

.card__imageWrapper {

        margin: 0 10px;

        width: fit-content;
        max-width: var(--cardWidth);
        height: fit-content;
        overflow: hidden;
        height: calc(calc(var(--cardHeight) / 6) * 3.5);
        display: grid;
        place-content: center;
}

.card__image {
        max-height: calc(calc(var(--cardHeight) / 100) * 50);
        object-fit: contain;
        width: 100%;
}

.card__button {
        width: 60%;
        height: calc(var(--baseTitleFontSize) + 5px);
        color: var(--lightActiveColor);
        font-size: var(--baseTitleFontSize);
        line-height: var(--baseTitleFontSize);
        background-color: var(--basePassiveColor);

        align-self: center;
        text-align: center;
        text-decoration: none;
}

.card__button:hover {
        filter: brightness(1.2);
}

.card__button:active {
        filter: brightness(0.9);
}



.contactCard {
       --contactForm-Height: 80vh;


        padding: 20px 15px;
        margin: 15vh 0;

        width: 100%;
        height: var(--contactForm-Height);
        display: flex;
        flex-direction: column;
        place-content: stretch;
        place-items: stretch center;
}

.contactCard--themeDark {
        color: var(--textColor);
        background-color: var(--darkPassiveColor);
        border-radius: 10px;
}

.contactCard__titleWrapper {
        margin-bottom: var(--bigTitleFontSize);
}

.contactCard__title {
        color: var(--darkAccentColor);
        font-size: var(--smallTitleFontSize);
        padding-bottom: var(--smallParagraphFontSize);

        text-align: center;
}

.contactCard__subtitle {
        color: var(--textColor);
        font-size: var(--bigParagraphFontSize);
}

.contactCard__emailWrapper {
        margin: var(--bigParagraphFontSize) 0;
        height: calc(var(--bigParagraphFontSize) * 3);
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
}

.contactCard__emailLabel {
        font-size: var(--bigParagraphFontSize);
}

.contactCard__emailInput {
        height: calc(var(--baseParagraphFontSize) * 3);
        padding: 0 var(--baseParagraphFontSize);
        background-color: var(--basePassiveColor);
        font-size: var(--bigParagraphFontSize);

        border: none;
}

.contactCard__emailInput:focus {
        outline: none;
}

.contactCard__textarea {
        height: calc(var(--baseParagraphFontSize) * 30);
        padding: var(--baseParagraphFontSize);
        background-color: var(--basePassiveColor);
        margin: var(--bigParagraphFontSize) 0;
        font-size: var(--bigParagraphFontSize);

        border: none;
        resize: none;
}

.contactCard__textarea:focus {
        outline: none;
}

.contactCard__button {
        background-color: var(--lightPassiveColor);
        color: var(--lightActiveColor);
        height: 5rem;
        font-size: var(--smallTitleFontSize);
        font-family: var(--paragraphFont), var(--paragraphFontFamily);

        border:none;
}


.contactCard__button:hover {
        filter: brightness(1.2);
        cursor: pointer;
}

.contactCard__button:active {
        filter: brightness(0.9);
}

.footer {
        --footerHeight: var(--pageFooterHeight);
        --footerSideMargin: var(--pageSideMargin);

        height: var(--footerHeight);
        width: auto;


}

.footer--themeDark {
        background-color: var(--basePassiveColor);
        font-family: sans-serif;
        color: var(--textColor);
        font-size: var(--smallParagraphFontSize);
        border-radius: 10px 10px 0px 0px;
}