* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;

}

/* --LIVESERVER-- */
script {
        display: none;
}
/* ////////////// */

:root {
        --basePassiveColor: hsl(0, 0%, 15%);
        --lightPassiveColor: hsl(0, 0%, 20%);
        --darkPassiveColor: hsl(0, 0%, 10%);

        --baseActiveColor: darkred;
        --lightActiveColor: darkred;
        --darkActiveColor: darkred;

        --textColor: linen;
        --baseParagraphFontSize: ;
        --paragraphFont: "Bree Serif";
        --paragraphFontFamily: serif;
        --TitleFont: "Rubik";
        --TitleFontFamily: sans-serif;
}

/* Page module */

/* 99vw prevents problem with horizontal scrollbars */
/* Extract List of navigation menu buttons from slidebar module as independent module! */

.page {

        --pageWidth: 99.0476vw;
        --pageHeaderHeight: 12vh;
        --footerHeight: ;

        width: var(--pageWidth);
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: var(--pageHeaderHeight) 1fr var(--footerHeight);

}

.page__main {
        margin-top: var(--pageHeaderHeight);
}

.page--theme-dark {
        background-color: var(--basePassiveColor);
        font-family: var(--paragraphFont), var(--paragraphFontFamily);
        color: var(--textColor);
}

.header--fixed {

        --headerHeight: var(--pageHeaderHeight);
        --headerCornerBlockWidth: calc(var(--pageHeaderHeight) - 4px);
        --headerIconPadding: calc(var(--headerCornerBlockWidth) / 10);

        padding-bottom: 4px;

        width: 100%;
        height: var(--headerHeight);
        position: fixed;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: var(--headerCornerBlockWidth) 1fr var(--headerCornerBlockWidth);
        grid-auto-rows: var(--headerHeight);
        place-items: center;
}

.header__icon {

        height: calc(var(--headerCornerBlockWidth) - var(--headerIconPadding));
        width: calc(var(--headerCornerBlockWidth) - var(--headerIconPadding));
        padding: var(--headerIconPadding);
}


.header__title {
        /* leave some space left to avoid overlap with 99.047vw workaround*/
        text-align: center;

}

.header--theme-dark {
        background-color: var(--basePassiveColor);
        font-family: var(--TitleFont), var(--TitleFontFamily);
        color: var(--baseActiveColor);
        font-size: 1.5rem;
}


.slidebar--extendable-right {

        --slidebarWidth: var(--headerCornerBlockWidth);
        --slidebarHeight: var(--headerCornerBlockWidth);
        --slidebarIconPadding: var(--headerIconPadding);
        --slidebarListWidth: calc(calc(var(--pageWidth) - var(--slidebarWidth)) - var(--slidebarWidth));

        height: var(--slidebarHeight);
        width: var(--slidebarWidth);
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        place-items: center;
        position: relative;
        background-color: transparent !important;
}

.slidebar__input {
        position: absolute;
        margin: 0; 
        appearance: none;
        z-index: 4;
        height: var(--slidebarHeight);
        width: var(--slidebarWidth);
        cursor: pointer;
        background-color: transparent !important;
}


.slidebar__icon {
        position: absolute;
        height: calc(var(--slidebarWidth) - var(--slidebarIconPadding));
        width: calc(var(--slidebarWidth) - var(--slidebarIconPadding));
        padding: var(--slidebarIconPadding);
        z-index: 3;
        fill:var(--baseActiveColor);

}

.slidebar__blind {
        position: absolute;
        z-index: 2;
        height: var(--slidebarHeight);
        width: calc(var(--slidebarWidth) + 20px);
        place-self: center start;
        border-radius: 10px 0 0 10px;
        transition: border-radius 0.2s;
}

.slidebar__input:hover ~ .slidebar__blind, .slidebar__input:hover ~ .slidebar__icon {
        filter: brightness(1.2);
}

.slidebar__input:active ~ .slidebar__blind, .slidebar__input:active ~ .slidebar__icon {
        filter: brightness(0.9);
}

.slidebar__list-container {
        position: absolute;
        z-index: 1;
        height: var(--slidebarHeight);
        width: var(--slidebarListWidth);
        margin-left: var(--slidebarWidth);
        justify-self: start;
        transition: margin 0.35s ease-in;
        padding: 5px;
        border-radius: 10px 0 0 10px;
}

.slidebar__input:checked ~ .slidebar__list-container {
        margin-left: calc(calc(var(--slidebarListWidth) * -1) + 10px); 
        transition: margin 0.35s ease-out;
}


.slidebar__list {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 2px 10px;
}

.slidebar__list-item {

        height: 60%;
        padding: 0 8px;
        text-decoration: none;
        text-align: center;
        display: flex;
        align-items: center;
        border-radius: 10px;
}

.slidebar--theme-dark--interactive {
        background-color: var(--darkPassiveColor);
        font-family: var(--TitleFont), var(--TitleFontFamily);
        color: var(--baseActiveColor);
        font-size: 0.8rem;
        font-weight: 500;     
}

.slidebar--theme-dark--interactive:hover {
        filter: brightness(1.2);
}

.slidebar--theme-dark--interactive:active {
        filter: brightness(0.9);
}


.slidebar--theme-dark {
        background-color: var(--darkPassiveColor);
        font-family: var(--TitleFont), var(--TitleFontFamily);
        color: var(--baseActiveColor);
        font-size: 0.8rem;
        font-weight: 500;
}


/* main section */
.svg-def {
        display: none;
}

/* Only temporary */


video, .image_debug-small {
        width: 200px;
        height: 100px;
}

.main_div {
        background-color: var(--lightPassiveColor);
}
